@charset "utf-8";

body{
    color:#666666;
    background-color:#f5d4df;
}
p{
    color:#000000;
    font-size:20px;
}
h1{
    border:5px dotted #ffffff;
    padding:50px 0;
    margin:50px auto;
    width:500px;
    /* box-sizing:border-box; */
    text-align:center;
}
p,ul{
    text-align:center;
}
img{
    border-radius:50px;
}
ul{
    list-style-type:none;
    padding-left:0;
    width:500px;
    margin:0 auto;
}
li{
    margin:20px;
}
a{
    background-color:#41cbee;
    display:block;
    padding:20px 0;
    text-decoration:none;
    color:#ffffff;
    font-weight:bold;
    font-size:1.3em;
    border-radius:50%;
}